<h3>Danh sach Users</h3>
<a href="#!/users/create">Them moi</a>
<table class="table table-bordered ">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="x in users">
        <td scope="row">{{ x.name }}</td>
        <td>{{ x.email }}</td>
        <td>{{ x.phone }}</td>
        <td>
          <button class="btn btn-danger "><a href="#!/users/{{x.id}}">Detail</a></button>
          <button class="btn btn-info "><a href="#!/users/{{x.id}}/edit">Update</a></button>
          <button class="btn btn-warning "><a ng-click="delete(x.id)" href="#!/users/{{x.id}}/delete">Delete</a></button>
        </td>
      </tr>
    </tbody>
  </table>